.filter {
    background-image: url(../../assets/background.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    /* background-color: #477cff; */
    /* background-color: #06090d; */
    /* color: white; */
}

.filter h6 {
    font-size: 1.5rem;
    font-weight: 500;
}

.filter div:nth-child(2) {
    display: flex;
    align-items: center;
}

.filter div:nth-child(2) label,
.filter div:nth-child(2) select {
    font-size: 1.2rem;
    margin: 0 10px;
}

.filter select,
.filter label,
.select input {
    /* color: #000; */
    padding: 10px;
    border-radius: 15px;
}

.filter input {
    text-align: center;
}

/* .filter .make-product {
    position: relative;
} */

.products {
    background-image: url(../../assets/background.png);
    /* padding: 6rem 4rem; */
    /* background-color: #06090d; */
    /* background-color: #000; */
    /* color: white; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* column-gap: 25px; */
    /* row-gap: 35px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}

.product-card {
    background-color: white;
    padding: 10px;
    border: 2px solid grey;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.product-card * {
    margin-bottom: 10px;
}

.product-card .card-img {
    width: 100%;
    height: 200px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.product-card .card-title {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    color: #477cff;
}

.product-card .card-desc {
    font-size: 1rem;
    text-align: center;
}

.product-card .card-price {
    text-align: center;
    font-size: 1.5rem;
    color: #477cff;
}


.product-card .add-to-cart {
    position: absolute;
    right: -60px;
    top: 32px;
    display: flex;
    flex-direction: column;
    transition: .8s right;
    z-index: 2;
    cursor: pointer;
}

.add-to-cart i {
    margin-bottom: 15px;
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 1.8rem;
    border: none;
    transition: .5s color;
}

.add-to-cart i.activefav {
    color: red;
}

.product-card::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .8s background;
}

.product-card:hover .add-to-cart {
    right: 10px;
}

.product-card:hover.product-card::after {
    background-color: rgb(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(3, 34%);
    }

    /* .searchinput {
        width: 300px;
        transform: translate(-9%, 0%);
    } */
}

@media (max-width: 992px) {
    /* .searchinput {
        transform: translate(-25%, 0%);
    } */
}

@media(max-width:768px) {
    .products {
        grid-template-columns: repeat(2, 50%);
    }

    /* .searchinput {
        transform: translate(-45%, 0%);
    } */
}

@media(max-width:576px) {
    .products {
        grid-template-columns: repeat(1, 100%);
    }

    /* .searchinput {
        transform: translate(-68%, 0%);
    } */
}